extends _layout
include mixins/svg-sprite
block title
    title Главная страница
block content
    .b-bricks.j-layout
        include blocks/_actions
        include blocks/_group2
        include blocks/_routes-main
        include blocks/_gallery-gallery-brick
