.b-content__alert + .b-brick__wrapper {
    @include margin-leader(3);

    @media #{$large-up} {
        @include margin-leader(0);
    }
}

.b-brick__wrapper {
    position: relative;
    opacity: 0;
}

.b-brick__wrapper_no_js {
    opacity: 1;

    .b-brick {
        @include margin-trailer(2);
        @include transition(transform);

        @media #{$large-up} {
            @include margin-trailer(0);

            &:hover {
                transform: translate(-1rem, -1rem);
            }
        }
    }
}

//сдвигаем контент при ховере на галерею
.b-brick__gallery-wrapper:hover {

    .b-brick_gallery_slide {

        @media #{$large-up} {
            @include horizontal-paddings(5);
        }

        @media #{$xxlarge-up} {
            @include horizontal-paddings(6);
        }
    }

    .b-gallery-slick__dots {

        @media #{$large-up} {
            @include horizontal-margins(5);
        }

        @media #{$xxlarge-up} {
            @include horizontal-margins(6);
        }
    }
}

.b-bricks__item {
    @include paddings(.3);
    
    @media #{$large-up} {
        @include paddings(.45);
    }

    @media #{$xxlarge-up} {
        @include paddings(.8);
    }
}

.b-brick {
    @include paddings(2);
    display: block;
    height: 100%;
    background-color: $black;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    
    @media #{$large-up} {
        @include paddings(1.5);
    }
    
    @media #{$xxlarge-up} {
        @include paddings(2);
    }

    &:hover {
        .b-brick__plus-icon {
            transform: scale(1.5) rotate(180deg);
        }
    }
}

.b-brick__sticker {
    display: none;

    @media #{$large-up} {
        display: block;
        position: absolute;
        z-index: 1;
        right: 3rem;
        top: 1.5rem;

        img {
            width: 8rem;
        }
    }
}

.b-brick__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .7;
    background-image: $base-overlay;
}

.b-brick__overlay_gallery_slide {
    background-image: $base-gallery-overlay;
}

.b-brick__cnt {
    position: relative;
    color: $white;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    z-index: 1;
}

.b-brick__header {
    @include margin-trailer(.75);
    display: flex;
    align-items: center;

    @media #{$medium-up} {
        @include margin-trailer(1);
    }
}

.b-brick__header-icon {
    @include margin-leader(.25);
    @include margin-trailer(.75);
    display: inline-block;
    margin-left: auto;
    width: 20px;
    height: 20px;

    @media #{$medium-up} {
        @include rhythm-margins(.5);
    }
}

.b-brick__note {
    @include paddings(1/3);
    @include text-transform(.1px);
    display: inline-block;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.25em;
    background-color: $red;
    border-radius: .25rem;
}

.b-brick__note_theme_dark {
    background-color: rgba($black, .3);
}

.b-brick__descr {
    @include text-transform(.1px);
    display: inline-block;
    font-size: .75rem;
    line-height: 1.25em;
    font-weight: 700;
}

.b-brick__info {
    display: flex;
    flex-flow: column nowrap;
}

.b-brick__promo {
    @include margin-trailer(5);
}

.b-brick__ttl {
    @include margin-trailer(.75);
    font-weight: 700;

    @media #{$medium-up} {
        @include margin-trailer(1.5);
    }
}

.b-brick__txt {
    line-height: 1.5em;
}

.b-brick__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-brick__plus {
    margin-left: auto;
}

.b-brick__plus-icon {
    @include transition(transform);
    transform: scale(1) rotate(0deg);
    width: 11px;
    height: 11px;
}

//themes
.b-brick_gallery_slide {
    @include transition(padding);
    padding-bottom: 4rem;
    
    @media #{$large-up} {
        @include paddings(3);
        padding-bottom: 4rem;
    }

    @media #{$xxlarge-up} {
        @include paddings(3);
        padding-bottom: 5rem;
    }

    //переопределение стилей для элементов внутри
    .b-brick__info {
        @include margin-trailer(1);
        margin-top: auto;
        
        @media #{$xxlarge-up} {
            @include margin-trailer(0);
        }
    }
}

.b-brick_theme_red {
    background-color: $red;
}

.b-brick_theme_blue {
    background-color: $blue;
}

.b-brick_theme_green {
    background-color: $green;
}

.b-brick_theme_dark-gray {
    background-color: $dark-gray;
}

.b-brick_shadow_default {
    box-shadow: 21px 14px 50px rgba($dark-gray, .5);
}

.b-brick_shadow_red {
    box-shadow: 21px 14px 50px rgba($red, .5);
}

.b-brick_shadow_blue {
    box-shadow: 21px 14px 50px rgba($blue, .5);
}

.b-brick__header_mb_0 {
    @media #{$medium-up} {
        margin-bottom: 0;
    }
}

.b-brick__logo-mits {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    max-width: 4.2rem;
    max-height: 1.8rem;
    fill: $white;
}
