extends _layout
block title
    title Инфраструктура
block content
    .b-content.col-36.col-lg-31.col-lg-push-5
        .b-content__inner.row
            .col-30.col-push-3.col-post-3.col-lg-25
                h1.b-content__ttl Инфраструктура
            .col-30.col-push-3.col-post-3.col-md-18.col-md-post-2
                ul.b-page-nav
                    li.b-page-nav__item
                        a(href="#inframap").b-page-nav__link.b-btn.b-btn_theme_light.b-btn_width_auto.j-scroller
                            | карта района
                    li.b-page-nav__item
                        a(href="#genplan").b-page-nav__link.b-btn.b-btn_theme_light.b-btn_width_auto.j-scroller
                            | генплан
                    li.b-page-nav__item
                        a(href="#comfort").b-page-nav__link.b-btn.b-btn_theme_light.b-btn_width_auto.j-scroller
                            | благоустройство
            .col-30.col-push-3.col-post-3.col-md-14.col-md-post-2
                p.b-content__big-text За 5-10 минут пешком вы сможете добраться до торговых центров
                    | и социально-культурных объектов
            .col-30.col-push-3.col-post-3.col-md-17.col-md-post-2
                p.b-content__text Неподалёку расположен
                    span.b-content__text-marked оздоровительный комплекс
                    |  Управления Делами Президента РФ «Кленовые Аллеи»,
                    | в котором есть бассейны, сауны, спортивный клуб и врачебные кабинеты. Кроме того,
                    |рядом находятся наукоград Троицк с богатой го­родской инфраструктурой и спортивная база ЦСКА с футбольным полем.

        .b-content__inner.row_theme_flex
            .b-content__map.j-map-wrapper.col-36
                .b-map(id="inframap")
                    .b-map-tabs.col-prefix-3.col-suffix-3
                        button(
                        data-type='0'
                        data-zoom='15'
                        data-center=[55.510512, 37.346842]
                        ).b-map-tabs__btn.b-btn.b-btn_theme_page-nav.b-btn_width_auto.is-active.j-map-tabs-item
                            | все
                        button(
                        data-type='shops'
                        data-zoom='15'
                        data-center=[55.510512, 37.346842]
                        ).b-map-tabs__btn.b-btn.b-btn_theme_page-nav.b-btn_width_auto.j-map-tabs-item
                            | Магазины
                        button(
                        data-type='cafe'
                        data-zoom='15'
                        data-center=[55.510512, 37.346842]
                        ).b-map-tabs__btn.b-btn.b-btn_theme_page-nav.b-btn_width_auto.j-map-tabs-item
                            | Кафе и рестораны
                        button(
                        data-type='children'
                        data-zoom='15'
                        data-center=[55.510512, 37.346842]
                        ).b-map-tabs__btn.b-btn.b-btn_theme_page-nav.b-btn_width_auto.j-map-tabs-item
                            | Детские сады
                        button(
                        data-type='school'
                        data-zoom='15'
                        data-center=[55.510512, 37.346842]
                        ).b-map-tabs__btn.b-btn.b-btn_theme_page-nav.b-btn_width_auto.j-map-tabs-item
                            | Школы
                        button(
                        data-type='health'
                        data-zoom='15'
                        data-center=[55.510512, 37.346842]
                        ).b-map-tabs__btn.b-btn.b-btn_theme_page-nav.b-btn_width_auto.j-map-tabs-item
                            | ЗДОРОВЬЕ
                    .b-map__cnt
                        #map.j-map.b-map__base
                        script.
                            window.map = {};
                            window.map['map'] = {
                                center          : [55.510512, 37.346842],
                                zoom            : 15,
                                imageBounds: {
                                    coords: [55.510512, 37.346842],
                                    image: '/img/map/buildings.svg',
                                    north: 55.514042723306446,
                                    east : 37.35338631762693,
                                    south: 55.50620713853158,
                                    west : 37.33652058734128
                                },
                                markers         : [
                                    {
                                        coords: [55.510019, 37.347131],
                                        image: '/img/map/markers/pin_klen.png',
                                        sizes: [37, 45]
                                    },
                                    {
                                        coords : [55.513276,37.347185],
                                        image  : '/img/map/markers/health.svg',
                                        title  : 'Планета Здоровья',
                                        picture:  '/img/test-pic.png',
                                        text   : 'Аптека',
                                        sizes  : [40, 40],
                                        type   : 'health'
                                    },
                                    {
                                        coords: [55.515276,37.347185],
                                        center: [55.515276,37.347185],
                                        image : '/img/map/markers/cafe.svg',
                                        title  : 'Планета Здоровья',
                                        picture: '/img/promo-gallery.png',
                                        text   : 'Аптека',
                                        sizes : [40, 40],
                                        type  : 'cafe'
                                    },
                                    {
                                        coords: [55.511276,37.347185],
                                        image : '/img/map/markers/kids.svg',
                                        title  : 'Планета Здоровья',
                                        picture: '/img/test-pic.png',
                                        text   : 'Аптека',
                                        sizes : [40, 40],
                                        type  : 'children'
                                    },
                                    {
                                        coords: [55.513276,37.350185],
                                        image : '/img/map/markers/school.svg',
                                        title  : 'Планета Здоровья',
                                        picture: '/img/test-pic.png',
                                        text   : 'Аптека',
                                        sizes : [40, 40],
                                        type  : 'school'
                                    },
                                    {
                                        coords: [55.513276,37.344185],
                                        image : '/img/map/markers/shop.svg',
                                        title  : 'Планета Здоровья',
                                        picture: '/img/test-pic.png',
                                        text   : 'Аптека',
                                        sizes : [40, 40],
                                        type  : 'shops'
                                    }
                                ]
                            }

        .b-content__inner.row
            .col-30.col-push-3.col-post-3.col-lg-25
                .b-content__genplan.row
                    .col-30.col-md-13.col-lg-10
                        h2.b-content__ttl(id="genplan") Генплан комплекса
                        p.b-content__big-text В ЖК Ватутинки сформирована комфортная
                            | для&nbsp;проживания городская среда
                    .b-content__genplan-img.col-30.col-lg-25(style="background-image: url('/img/genplan_2.svg')")
                    a.b-factoid.b-factoid_pos_right-bottom.b-factoid_theme_red.col-md-8.col-lg-5.j-aspect-ratio(href="#"
                    data-ratio={
                        "default": [1, 1],
                        "mobile": [2, 1]
                    })
                        h5.b-factoid__ttl Выбрать квартиру
                        footer.b-factoid__footer
                            span.b-factoid__link Выбрать
                            span.b-factoid__plus
                                +svg('plus', 'b-factoid__plus-icon')
                .b-content__genplan-legend.row
                    .b-content__genplan-legend-item.b-legend-item-1
                        ul.b-content__genplan-legend-list
                            li
                                .b-genplan-legend-icon__square.square-corpus
                                | — жилые корпуса 
                            li
                                .b-genplan-legend-icon__square.square-office
                                | — офис продаж 
                    .b-content__genplan-legend-item
                        ul.b-content__genplan-legend-list
                            li
                                +svg('map-icon__playground', 'b-genplan-legend-icon__svg')
                                | — детская площадка
                            li
                                +svg('map-icon__nipple', 'b-genplan-legend-icon__svg')
                                | — детский сад 
                    .b-content__genplan-legend-item
                        ul.b-content__genplan-legend-list
                            li
                                +svg('map-icon__shop', 'b-genplan-legend-icon__svg')
                                | — торговый центр
                            li
                                +svg('map-icon__parking', 'b-genplan-legend-icon__svg')
                                | — паркинг 
                    .b-content__genplan-legend-item
                        ul.b-content__genplan-legend-list
                            li
                                +svg('map-icon__dog', 'b-genplan-legend-icon__svg')
                                | — для выгула собак 
                            li
                                +svg('map-icon__school', 'b-genplan-legend-icon__svg')
                                | — школа 
                    .b-content__genplan-legend-item
                        ul.b-content__genplan-legend-list
                            li
                                +svg('map-icon__stadion', 'b-genplan-legend-icon__svg')
                                | — стадион
                            li
                                +svg('map-icon__sport', 'b-genplan-legend-icon__svg')
                                | — спортивная площадка 
        .b-content__inner.row
            .col-30.col-push-3.col-post-3.col-lg-17
                h2.b-content__ttl(id="comfort") Благоустройство
                .b-content__text-wrapper
                    p.b-content__text
                        | «Ватутинки» находятся в одном из самых экологически чистых
                        | районов Новомосковского АО. Мы создали дружественную уличную среду для пешеходов
                        | с регулируемыми переходами и комплексом пешеходных и велосипедных дорожек.
                    p.b-content__text
                        | Все прогулочные зоны в «Ватутинках» — безбарьерные, поэтому прогулки будут комфортными
                        | и для&nbsp;маломобильных групп населения, и для родителей с маленькими детьми.
                    p.b-content__text
                        | На озеленённых придомовых территориях разместятся детские и спортивные площадки и зоны отдыха.


        .b-content__inner.row_theme_flex
            .b-content__picture.col-30.col-push-3.col-post-3.col-lg-push-3.col-lg-15.col-lg-post-1
                +picture('test-pic.png', 'test', 300)
            .b-content__wrapper.b-content__wrapper_theme_flex.b-content__wrapper_theme_finishing.col-30.col-push-3.col-post-3.col-lg-push-0.col-lg-9.col-lg-post-3
                .b-content__sub-wrapper
                    h2.b-content__sub-ttl
                        | Эргономичная  застройка
                    p.b-content__text
                        | Приватная дворовая территория и оптимальные пути подъезда к каждому дому.
                .b-content__info.b-fact.row
                    .b-fact__header
                        +svg('sport', 'b-fact__icon')
                        .b-fact__separator.col-xxlg-4
                    h5.b-content__sub-ttl.b-fact__ttl.col-xxlg-4 Спортивные и детские  площадки

        .b-content__inner.b-content__inner_theme_order.row_theme_flex
            .b-content__wrapper.b-content__wrapper_theme_flex.b-content__wrapper_theme_finishing.col-30.col-push-3.col-post-3.col-lg-push-3.col-lg-9.col-lg-post-1
                .b-content__sub-wrapper
                    h2.b-content__sub-ttl
                        | Зеленые дворы  без машин
                    p.b-content__text
                        | Все парковки комплекса — подземные, что позволит вам насладиться зелеными
                        | пейзажами в дворах, свободных от машин.
                .b-content__info.b-fact.row
                    .b-fact__header
                        +svg('parking', 'b-fact__icon')
                        .b-fact__separator.col-xxlg-4
                    h5.b-content__sub-ttl.b-fact__ttl.col-xxlg-4 Подземный паркинг на 1200  машиномест
            .b-content__picture.col-30.col-push-3.col-post-3.col-lg-push-0.col-lg-15.col-lg-post-3
                +picture('test-pic.png', 'test', 300)

        .b-content__inner.row_theme_flex
            .b-content__picture.col-30.col-push-3.col-post-3.col-lg-push-3.col-lg-15.col-lg-post-1
                +picture('test-pic.png', 'test', 300)
            .b-content__wrapper.b-content__wrapper_theme_flex.b-content__wrapper_theme_finishing.col-30.col-push-3.col-post-3.col-lg-push-0.col-lg-9.col-lg-post-3
                .b-content__sub-wrapper
                    h2.b-content__sub-ttl
                        | Безбарьерные  прогулочные  зоны 
                    p.b-content__text
                        | Все продумано для с учетом потребностей родителей с детьми и маломобильных групп населения 
                .b-content__info.b-fact.row
                    .b-fact__header
                        +svg('bike', 'b-fact__icon')
                        .b-fact__separator.col-xxlg-4
                    h5.b-content__sub-ttl.b-fact__ttl.col-xxlg-4 Комплексы  пешеходных и велодорожек

        .b-content__inner.b-content__inner_theme_order.row_theme_flex
            .b-content__wrapper.b-content__wrapper_theme_flex.b-content__wrapper_theme_finishing.col-30.col-push-3.col-post-3.col-lg-push-3.col-lg-9.col-lg-post-0
                .b-content__sub-wrapper
                    h2.b-content__sub-ttl
                        | Дружественная  уличная среда 
                    p.b-content__text
                        | Регулируемые  пешеходные переходы и возможность комфортного передвижения,
                        | в том числе между кварталами 
                .b-content__info.b-fact.row
                    .b-fact__header
                        +svg('bench', 'b-fact__icon')
                        .b-fact__separator.col-xxlg-4
                    h5.b-content__sub-ttl.b-fact__ttl.col-xxlg-4 Зоны отдыха на придомовых  территориях
            .b-content__picture.col-30.col-push-3.col-post-3.col-lg-push-1.col-lg-15.col-lg-post-3
                +picture('test-pic.png', 'test', 300)


        .b-content__inner.row_theme_flex
            .b-brick__wrapper.b-brick__wrapper_no_js
                .col-30.col-push-3.col-post-3.col-md-9.col-md-post-0
                    a(href="#"
                    data-ratio={
                        "default": [9, 5],
                        "mobile" : [3, 2],
                        "medium" : [1, 1],
                        "big"    : [1, 1]
                    }).b-brick.b-brick_theme_red.b-brick_shadow_red.j-aspect-ratio
                        .b-brick__cnt
                            header.b-brick__header.row
                                h4.b-brick__ttl Выбрать квартиру
                            .b-brick__info.row
                                p.b-brick__txt от 2,3 млн руб.
                            footer.b-brick__footer
                                .b-brick__descr Выбрать квартиру
                                span.b-brick__plus
                                    +svg('plus', 'b-brick__plus-icon')
                .col-30.col-push-3.col-post-3.col-md-9.col-md-push-1.col-md-post-0
                    a(href="#"
                    data-ratio={
                        "default": [9, 5],
                        "mobile" : [3, 2],
                        "medium" : [1, 1],
                        "big"    : [1, 1]
                    }
                    style="background-image:url('/img/test-pic.png')"
                    ).b-brick.b-brick_shadow_default.j-aspect-ratio
                        .b-brick__overlay
                        .b-brick__cnt
                            header.b-brick__header.row
                                h4.b-brick__ttl Ход строительства
                            footer.b-brick__footer
                                .b-brick__descr УЗНАТЬ ПОДРОБНЕЕ
                                span.b-brick__plus
                                    +svg('plus', 'b-brick__plus-icon')
                .col-30.col-push-3.col-post-3.col-md-9.col-md-push-1.col-md-post-3.col-lg-5
                    a(href="#"
                    data-ratio={
                        "default": [1, 1],
                        "mobile" : [3, 2]
                    }).b-brick.b-brick_theme_blue.b-brick_shadow_blue.j-aspect-ratio
                        .b-brick__cnt
                            header.b-brick__header.row
                                h4.b-brick__ttl Как купить
                            .b-brick__info.row
                                p.b-brick__txt Ипотека от 8,0%
                            footer.b-brick__footer
                                .b-brick__descr ПОДРОБНЕЕ
                                span.b-brick__plus
                                    +svg('plus', 'b-brick__plus-icon')


