.b-content {
    @include padding-leader(2);
    position: relative;

    @media #{$large-up} {
        @include margin-leader(0);
        @include padding-leader(5);

        &:first-child {
            @include margin-leader(0);
        }
    }

    &:first-child {
        @include margin-leader(3);
    }
}

.b-content_main_page {
    @include paddings(.3);

    @media #{$large-up} {
        @include paddings(.45);
    }

    @media #{$xxlarge-up} {
        @include paddings(.8);
    }
}

.b-content__bg-map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.b-content__bg-picture {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/img/content-bg.jpg');
    background-position: 50% 50%;
    background-size: cover;
    opacity: .8;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: $base-gallery-overlay;
        opacity: .8;
    }
}

.b-content__bg-picture_without_overlay {
    opacity: 1;
    background-color: $blue;

    &:after {
        display: none;
    }
}

.b-content__map {
    min-height: 32rem;
    position: relative;

    @media #{$medium-up} {
        min-height: 25rem;
    }

    @media #{$big-up} {
        min-height: 27rem;
    }

    @media #{$large-up} {
        min-height: 47rem;
    }

    @media #{$xlarge-up} {
        min-height: 40rem;
    }

    @media #{$xxlarge-up} {
        min-height: 60rem;
    }
}

.b-content__separator {
    @include rhythm-margins(1.5);
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgba($blue, .1);

    @media #{$large-up} {
        @include rhythm-margins(3);
    }
}

.b-content__wrapper {
    @include margin-trailer(2);

    @media #{$large-up} {
        @include margin-trailer(0);
    }
}

.b-content__sub-wrapper {
    flex-grow: 1;
}

.b-content__inner {
    @include margin-trailer(2);
    position: relative;
    z-index: 1;

    @media #{$large-up} {
        @include margin-trailer(5);
    }
}

.b-content__block {
    @include margin-trailer(2);
    
    @media #{$medium-up} {
        @include margin-trailer(0);
    }
}

.b-content__block-full-width {
    @include margin-leader(1);

    @media #{$medium-up} {
        @include margin-leader(2);
    }
}

.b-content__ttl {
    @include margin-trailer(1.5);
    display: inline-block;
    font-weight: 700;
    position: relative;

    @media #{$large-up} {
        @include margin-trailer(2);
    }

    &.is-logo {
        display: flex;
        flex-direction: column;
    }
}

.b-content__defence-logo {
    width: 8rem;
    height: 4rem;

    @media #{$large-up} {
        width: 14rem;
        height: 5.5rem;
    }
}

.b-content__defence-logo-small {
    position: absolute;
    left: calc(100% + .5rem);
    bottom: -1.125rem;
    width: 8rem;
    height: 3rem;

    @media #{$large-up} {
        bottom: -1.5rem;
        width: 9.5rem;
        height: 4.5rem;
    }
}

.b-content__sub-ttl {
    @include margin-trailer(.7);
    font-weight: 700;

    @media #{$large-up} {
        @include margin-trailer(2);
    }
}

.b-content__big-text-list {
    @include margin-trailer(1);
    
    @media #{$large-up} {
        @include margin-trailer(0);
    }
}

.b-content__big-text {
    @include margin-trailer(1);
    display: inline-block;
    font-size: rem(1.05);
    line-height: 1.6rem;

    @media #{$large-up} {
        @include margin-trailer(2);
        line-height: 2.2rem;
    }
}

.b-content__text-list {

    @media #{$large-up} {
        @include padding-leader(1);
    }
}

.b-content__text-wrapper {
    @include margin-trailer(1.5);

    @media #{$large-up} {
        @include margin-trailer(2);
    }
}

.b-content__text {
    @include margin-trailer(.5);
    font-size: rem(.95);
    line-height: 1.6rem;

    @media #{$large-up} {
        @include margin-trailer(1);
    }

    &:last-child {
        @include margin-trailer(0);
    }
}

.b-content__text-strong {
    font-weight: 500;
}

.b-content__text-marked {
    position: relative;
    display: inline-block;

    &:after {
        content: '';
        position: absolute;
        bottom: .25rem;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: rgba($yellow, .3);
        z-index: -1;
    }
}

.b-content__text-marked-strong {
    position: relative;
    display: inline-block;
    font-weight: 500;

    &:after {
        content: '';
        position: absolute;
        bottom: .25rem;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: rgba($yellow, .3);
        z-index: -1;
    }
}

.b-content__descr-wrapper {
    @include margin-trailer(1);

    @media #{$large-up} {
        @include margin-trailer(2);
    }
}

.b-content__descr {
    @include margin-trailer(.5);
    line-height: rem(1.5);
    display: flex;
    align-items: center;

    @media #{$large-up} {
        @include margin-trailer(0);
        line-height: rem(2);
    }
}

.b-content__descr-icon {
    @include transition(fill);
    fill: $red;
    width: 1rem;
    height: 1.125rem;
    margin-right: rem(2/3);
}

.b-content__gallery {
    @include margin-trailer(1);
    border-radius: 3px;
    height: 45rem;

    @media #{$large-up} {
        @include margin-trailer(3);
    }
}

.b-content__gallery_theme_counter {
    @include margin-trailer(3.5);
    
    @media #{$medium-up} {
        @include margin-trailer(3);
    }
}

.b-content__picture {
    border-radius: 3px;
    position: relative;

    img {
        display: block;
        width: 100%;
    }
}

.b-content__info {
    @include margin-leader(1);

    @media #{$large-up} {
        margin-top: auto;
    }
}

.b-content__link {
    @include transition(opacity);
    @include text-transform(.1em);
    color: $bright-blue;
    font-size: rem(.75);
    font-weight: 700;
    line-height: 1.5rem;
    display: inline-flex;
    align-items: center;
    width: 100%;

    @media #{$medium-up} {
        line-height: 2rem;
    }

    &:before {
        @include transition(transform);
        content: '';
        display: inline-table;
        width: rem(1 + 1/3);
        height: rem(1 + 1/3);
        background-color: $red;
        border-radius: 3rem;
        margin-right: 1rem;
        background-image: url('/img/small-arrow-white.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    
    &:hover {
        opacity: .8;

        &:before {
            transform: scale(1.1) rotate(360deg);
        }
    }
}

.b-content__promo {
    @include margin-trailer(1);
    font-size: rem(2.25);
    font-weight: 700;
    line-height: 2.5rem;

    @media #{$large-up} {
        @include margin-trailer(5);
        font-size: rem(4.45);
        line-height: rem(5.5);
    }
}

.b-content__address {
    font-size: rem(1 + 1/3);
    line-height: 2rem;
    color: $dark-gray;
}

.b-content__note {
    color: $gray-text;
    font-size: rem(.75);
    line-height: 1rem;
}

.b-content__tabs {
    @include margin-trailer(2);
    display: flex;
    flex-flow: row wrap;

    @media #{$medium-up} {
        @include margin-trailer(3)
    }

    @media #{$large-up} {
        @include margin-trailer(5);
    }
}

.b-content__tab {
    @include margin-trailer(1);
    margin-right: 1rem;
    
    @media #{$medium-up} {
        @include margin-trailer(0);
    }
}

.b-content__input {
    display: none;

    &:checked {
        + .b-content__tab {
            color: $white;
            background-color: $red;
            border-color: $red;
        }
    }
}

.b-content__filters {
    @include margin-trailer(2);
    display: flex;
    flex-flow: row wrap;

    @media #{$medium-up} {
        @include margin-trailer(3)
    }
}

.b-content__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.b-content__list-item {
    display: flex;
}

.b-content__fact-wrapper {
    @include margin-leader(1.5);

    @media #{$large-up} {
        flex-flow: row nowrap;
        @include margin-leader(3);
    }
}

.b-content__fact-wrapper_big_size {
    @include margin-leader(0);

    @media #{$large-up} {
        @include margin-leader(0);
        flex-flow: row wrap;
    }
}

.b-content__fact {
    @include margin-trailer(1.75);
    
    @media #{$large-up} {
        @include margin-trailer(3);

        &:nth-last-child(2) {
            @include margin-trailer(1);
        }
    }

    &:last-child {
        @include margin-trailer(1);
    }
}

.b-content__fact-ttl {
    @include margin-trailer(.5);
    font-weight: 700;
}

.b-content__alert {
    @include margin-leader(3);
    @include margin-trailer(.3);
    @include rhythm-padding(.5);
    display: none;
    margin-left: .3em;
    margin-right: .3em;
    color: $white;
    background-color: $red;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 3px;
    position: relative;
    z-index: 1;

    @media #{$large-up} {
        margin: .45em;
    }

    @media #{$xxlarge-up} {
        margin: .8em;
    }

    p {
        margin-bottom: 0;

        a {
            color: $white;
        }
    }
}

.b-content__alert-close {
    position: absolute;
    top: .6em;
    right: .2em;
    width: 1em;
    height: 1em;
    font-size: 1em;
    line-height: 1em;
    cursor: pointer;

    @media #{$large-up} {
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
    }
}

.b-content__aside {
    @include margin-trailer(3);

    @media #{$large-up} {
        @include margin-trailer(0);
        order: 1;
    }
}

.b-content__partner-logo {
    @include margin-trailer(2);

    img {
        max-width: 70%;
        max-height: 42px;
    }
}

.b-content__semi-transparent {
    opacity: .5;
}

.b-content__hidden {
    display: none;
}

//themes
.b-content_theme_gray {
    background-color: rgba($blue, .05);
}

.b-content_theme_dark {
    background-color: $black;

    .b-content__ttl {
        color: $white;
    }

    .b-content__big-text {
        color: $white;
    }

    .b-content__text {
        color: $white;
    }
}

.b-content_theme_dark-gray {
    background-color: $dark-gray;

    .b-content__ttl {
        color: $white;
    }

    .b-content__big-text {
        color: $white;
    }

    .b-content__text {
        color: $white;
    }
}

.b-content_theme_no-top {
    @include padding-leader(0);

    @media #{$medium-up} {
        @include padding-leader(0);
    }

    @media #{$big-up} {
        @include padding-leader(0);
    }

    @media #{$large-up} {
        @include padding-leader(0);
    }

    @media #{$xlarge-up} {
        @include padding-leader(0);
    }

    @media #{$xxlarge-up} {
        @include padding-leader(0);
    }
}

.b-content_theme_param {
    @include margin-leader(0);
    
    @media #{$big-up} {
        @include margin-leader(3);
    }
    
    @media #{$large-up} {
        @include margin-leader(0);
    }
}

.b-content__wrapper_theme_flex {
    display: flex;
    flex-flow: row wrap;
}

.b-content__wrapper_theme_finishing {
    @include margin-trailer(0);
    @include padding-leader(1.5);
    @include horizontal-paddings(2);
    @include padding-trailer(2);
    background-color: rgba($blue, .1);

    @media #{$large-up} {
        @include padding-leader(2);
        @include horizontal-paddings(3);
        @include padding-trailer(3);
    }
}

.b-content__wrapper_theme_partner {
    @include padding-leader(2.5);
    @include horizontal-paddings(3);
    @include padding-trailer(2.5);
    background-color: rgba($blue, .1);
}

.b-content__wrapper_theme_finishing-transparent-mobile {

    @media #{$small-only} {
        @include padding-leader(.5);
        @include padding-trailer(1);
        background-color: transparent;
    }
}

.b-content__inner_theme_order {
    display: flex;
    flex-flow: row wrap;

    >div {
        &:first-child {
            order: 2;
        }

        &:last-child {
            order: 1;
        }

        @media #{$large-up} {

            &:first-child {
                order: 1;
            }

            &:last-child {
                order: 2;
            }
        }
    }
}

.b-content__inner_theme_map {
    pointer-events: none;
}

.b-content__sub-ttl_theme_blue {
    color: $dirty-blue;
}

.b-content__sub-ttl_theme_map {
    @include margin-trailer(16);

    @media #{$large-up} {
        @include margin-trailer(16);
    }
}

.b-content__link_theme_white {
    color: $white;

    &:before {
        background-color: $white;
        background-image: url('/img/small-arrow-blue.svg');
    }

    &:active {
        color: $white;
    }
}

.b-content__link_theme_map {
    @include margin-trailer(1.5);
    
    @media #{$large-up} {
        @include margin-trailer(2.5);
    }
    
    &:before {
        background-color: transparent;
        background-image: url('/img/map/markers/marker-blue.svg');
        width: 1.5rem;
        height: 1.8rem;
    }

    // временно убиваем ховер
    &:hover {
        opacity: 1;

        &:before {
            transform: none;
        }
    }
}

.b-content__fact_theme_blue {

    .b-content__fact-ttl {
        color: $blue;
    }
}

.b-content__list_theme_progress {
    .b-content__list-item {
        @include margin-trailer(2);
        height: 16rem;

        @media #{$big-up} {
            height: 25rem;
        }

        @media #{$large-up} {
            @include margin-trailer(3);
            height: 20rem;
        }
        //если нечетное кол-во итемов меняем размеры
        &:last-child:nth-child(odd) {
            flex-grow: 1;

            @media #{$large-up} {
                height: 25rem;
            }

            @media #{$xlarge-up} {
                height: 30rem;
            }

            @media #{$xxlarge-up} {
                height: 42rem;
            }
        }
    }
}

.b-content__gallery_theme_progress {
    height: 100%;
}

.b-content__background-image {
    background-image: url('../img/placement-bgimg.jpg');
}

.b-content__schedule {
    font-size: 1rem;
    line-height: 1.1rem;
    margin-bottom: 2.2rem;
    padding-right: 10rem;
    width: 100%;

    th {
        padding-bottom: 1rem;

        @media #{$large-up} {
            padding: 4% 1% 4% 0;
        }
    }

    tr {
        @media #{$large-up} {
            border-bottom: 1px solid rgba($dirty-blue, .1);;
        }
    }

    td {
        padding-left: 0;
        padding-bottom: 1rem;

        @media #{$large-up} {
            padding-left: 1em;
            padding-bottom: 0;
        }

        @media #{$xlarge-up} {
            padding-left: 1.5em;
        }
    }
}

.b-content__schedule-btn {
    width: 47%;
    margin-bottom: 10%;
    color: $dirty-blue;
    border-color: $light-blue;
    background-color: $light-blue;
    text-transform: uppercase;
    padding: .55em  .5em;

    &:last-child {
        margin-right: 0;
    }

    &.is-active {
        color: $white;
        background-color: $red;
        border: 2px solid $red;
    }
}

.b-content_flex_space-between {
    display: flex;
    justify-content: space-between;
}

.b-animation3d {
    animation: rotate .4s linear 1;
}

@keyframes rotate {
    0% {
        transform: translateX(0);
    }

    55% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

.b-content_display_desktop {
    display: none;

    @media #{$big-up} {
        display: block;
    }
}

.b-content_display_mobile {
    @media #{$big-up} {
        display: none;
    }
}

.b-content__schedule-toggle {
    display: none;

    &.is-active {
        display: block;
    }

    &#ts {
        display: block;

        @media #{$big-up} {
            display: none;
        }
    }
}

.b-content__news-ttl {
    font-size: rem(1.6);
    line-height: 2rem;

    @media #{$large-up} {
        font-size: rem(2 + 2/3);
        line-height: 3.3rem;
    }
}

.b-content__relative-state {
    position: relative;
}

.b-content__slide-ttl {
    @include transition(opacity);
    display: block;
    position: relative;
    padding-left: 0;
    padding-right: 2rem;
    color: $blue;
    font-size: rem(.8);
    font-weight: 700;
    line-height: 1.25em;
    letter-spacing: .6px;
    text-align: left;
    border: 0;
    background-color: transparent;
    outline: 0;
    margin-top: rem(1.5);

    @media #{$large-up} {
        font-size: rem(1);
        line-height: 2rem;
        letter-spacing: .8px;


        &:hover {
            opacity: .8;
        }
    }

    &:after {
        @include transition(transform);
        content: '';
        transform: translateY(-50%) rotate(90deg);
        position: absolute;
        right: 0;
        top: 50%;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 3rem;
        background-color: $blue;
        background-image: url('/img/small-arrow-white.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }

    &.is-active {
        &:after {
            transform: translateY(-50%) rotate(270deg);
        }
    }
}

.b-content__video {
    margin-bottom: 1rem;
}

//customs

.b-content__inner_pl_3 {

    @media #{$large-up} {
        @include padding-leader(3);
    }
}

.b-content__inner_mt_0-mobile {

    @media #{$small-only} {
        @include margin-trailer(0);

        &:nth-last-child(2) {
            @include margin-trailer(2);
        }
    }
}

.b-content__wrapper_mt_half {

    @media #{$small-only} {
        @include margin-trailer(.5);
    }
}

.b-content__wrapper_theme_centered {
    align-self: center;
}

.b-content__text-list_mt_2 {

    @media #{$medium-up} {
        @include margin-trailer(2);
    }

    @media #{$large-up} {
        @include margin-trailer(0);
    }
}

.b-content_pt_0 {
    @include padding-leader(0);

    @media #{$large-up} {
        @include padding-leader(0);
    }
}

.b-content__bg-picture_without_overlay.b-content_display_mobile {
    overflow: hidden;

    .b-content__placement-woman {
        width: 320px;
        height: 426px;
        position: absolute;
        right: -30%;
        bottom: -10%;

        @media #{$medium-up} {
            right: -10%;
        }
    }
}

.b-content__bg-picture_without_overlay.b-content_display_desktop {
    overflow: hidden;

    .b-content__placement-woman {
        width: 320px;
        height: 426px;
        position: absolute;
        right: 0;
        bottom: -10%;
        
        @media #{$large-up} {
            width: auto;
            height: 600px;
            right: -5%;
        }

        @media #{$xxlarge-up} {
            height: 700px;
            right: 0;
        }
    }
}

.b-content__text_mb_6rem {
    @media #{$large-up} {
        margin-bottom: 6rem;
    }
}

.b-content__inner_z-index_2 {
    z-index: 2;
}

.b-content.b-content_theme_breadcrumbs-search,
.b-content.b-content_theme_breadcrumbs-contacts,
.b-content.b-content_theme_absolute-breadcrumbs {
    @include margin-leader(1);
    z-index: 1;
    right: 0;

    @media #{$large-up} {
        @include padding-leader(2);
        position: absolute;
    }
}

.b-content.b-content_theme_breadcrumbs-search {
    display: none;

    @media #{$large-up} {
        display: block;
    }
}

.b-content_theme_absolute-breadcrumbs {
    .b-breadcrumbs__link {
        color: $white;
    }
}

.b-content__big-text_theme_last {
    @include margin-trailer(0);

    @media #{$large-up} {
        @include margin-trailer(0);
    }
}