.b-content__genplan {
    @include margin-trailer(3);
    position: relative;
    background-repeat: no-repeat;

    @media #{$medium-up} {
        height: 22rem;
    }

    @media #{$big-up} {
        height: 30rem;
    }

    @media #{$large-up} {
        height: 35rem;
    }

    @media #{$xxlarge-up} {
        height: 44rem;
    }
}

.b-content__genplan-img {
    @include margin-trailer(2);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 10rem;

    @media #{$small-only} {
        height: 15rem;
    }

    @media #{$medium-up} {
        @include margin-trailer(0);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        z-index: -1;
    }
}

//legend
.b-content__genplan-legend {
    display: flex;
    flex-wrap: wrap;
}

.b-content__genplan-legend-item {
    padding-right: 1rem;

    &:last-child {
        padding-right: 0;
    }

    @media #{$small-only} {
        width: 100%;
    }

    @media #{$medium-up} {
        @include margin-trailer(.5);
        width: 14rem;
    }
}

.b-content__genplan-legend-list {
    li {
        @include margin-trailer(1);
        display: flex;
        align-content: center;
    }
}

.b-genplan-legend-icon__square {
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    margin-right: 1rem;
    margin-left: .2rem;
    box-shadow: 0 0 .563rem .063rem rgba($dirty-blue, .52);

    &.square-corpus {
        background-color: $white;
    }

    &.square-office {
        background-color: $red;
    }
}

.b-genplan-legend-icon__svg {
    @include margin-trailer(-1);
    margin-right: 1rem;
    width: 1.8rem;
    height: 1.8rem;
}
