// GLOBAL MIXINS
// -----------------------------------
// Debug vertical rhythm
@mixin vr-debug($lines-color: $black) {
    position: relative;

    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background: repeating-linear-gradient(180deg, transparent, transparent $base-vertical-rhythm - 1px, $lines-color $base-vertical-rhythm);
        content: '';
    }
}

// Transition
@mixin transition($prop...) {
    transition-property: $prop;
    transition-duration: $gl-trs-duration;
    transition-timing-function: $gl-trs-function;
}

@mixin unstyled-link {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;

    &:active,
    &:focus {
        outline: none;
    }
}

// SPRITE
@function get-sprite($key) {
    @if map-has-key($sprites-map, $key) {
        @return map-get($sprites-map, $key);
    }

    @warn 'Unknown `#{$key}` in $sprites-map.';
    @return null;
}

@mixin get-sprite-width($sprite) {
    width: nth($sprite, 5);
}

@mixin get-sprite-height($sprite) {
    height: nth($sprite, 6);
}

@function sprite-width($sprite-name) {
    $sprite: get-sprite($sprite-name);
    @return nth($sprite, 5);
}

@function sprite-height($sprite-name) {
    $sprite: get-sprite($sprite-name);
    @return nth($sprite, 6);
}

@mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url('#{$sprite-image}');
}

@mixin sprite-1x($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include get-sprite-width($sprite);
    @include get-sprite-height($sprite);
}

@mixin sprite-background-size($sprite) {
    background-size: nth($sprite, 7) nth($sprite, 8);
}

@mixin sprite($sprite-name) {
    $sprite: get-sprite($sprite-name);
    @include sprite-1x($sprite);

    @if variable-exists(sprites-2x-map) and map-has-key($sprites-2x-map, $sprite-name) {
        @media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
            @include sprite-image(map-get($sprites-2x-map, $sprite-name));
            @include sprite-background-size($sprite);
        }
    }
}
