@function rem($number) {
    @return $number * 1rem;
}

// Vertical rhythmvertical-rhythm
@mixin margin-trailer($number) {
    margin-bottom: rem($number * $base-vertical-rhythm);
}

@mixin margin-leader($number) {
    margin-top: rem($number * $base-vertical-rhythm);
}

@mixin padding-trailer($number) {
    padding-bottom: rem($number * $base-vertical-rhythm);
}

@mixin padding-leader($number) {
    padding-top: rem($number * $base-vertical-rhythm);
}

@mixin rhythm-padding($top, $bottom: $top) {
    padding: {
        top: rem($top * $base-vertical-rhythm);
        bottom: rem($bottom * $base-vertical-rhythm);
    };
}

@mixin rhythm-margins($top, $bottom: $top) {
    margin: {
        top: rem($top * $base-vertical-rhythm);
        bottom: rem($bottom * $base-vertical-rhythm);
    };
}

//Horizontal rhytm 0_o
@mixin horizontal-paddings($left, $right: $left) {
    padding: {
        left: rem($left * $base-vertical-rhythm);
        right: rem($right * $base-vertical-rhythm);
    };
}

@mixin horizontal-margins($left, $right: $left) {
    margin: {
        left: rem($left * $base-vertical-rhythm);
        right: rem($right * $base-vertical-rhythm);
    };
}

//all padding
@mixin paddings($size) {
    padding: rem($size * $base-vertical-rhythm);
}
//all margin
@mixin margins($size) {
    margin: rem($size * $base-vertical-rhythm);
}

@function rhythm($number) {
    @return rem($number * $base-vertical-rhythm);
}
