// COLORS
$black          : #000000;
$white          : #ffffff;
$gray           : #cccccc;
$yellow         : #ffce3e;
$green          : #84b328;
$red            : #ff4444;
$dark-red       : #9d2f2e;
$blue           : #327dbf;
$light-blue     : #ecf2f8;
$lite-blue      : #f5f8fc;
$dirty-blue     : #507392;
$dark-blue      : #1f262b;
$bright-blue    : #1a5581;
$gray-text      : #818e96;
$dark-gray      : #313639;
$light-gray     : #76828c;
$base-font-color: $dark-gray;
$overlay        : rgba(0, 0, 0, .8);

//gradients
$base-overlay        : linear-gradient(50deg, $black 0%, rgba(0, 18, 46, 0) 80%, rgba(0, 23, 58, 0) 100%);
$base-gallery-overlay: linear-gradient(70deg, $black 0%, rgba(0, 23, 58, 0) 50%);

//responsive fonts
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@function calcfluidfontsize($f-min, $f-max, $v-min, $v-max, $units: px) {
    $f-min: strip-unit($f-min);
    $f-max: strip-unit($f-max);
    $v-min: strip-unit($v-min);
    $v-max: strip-unit($v-max);

    $k: ($f-max - $f-min)/($v-max - $v-min);
    $b: $f-min - $k * $v-min;

    $b: $b + $units;

    @return calc( #{$k} * 100vw + #{$b} );
}

// Vertical rhythm
$default-font-size         : 18;
$base-font-size            : calcfluidfontsize(15, $default-font-size, 1280, 1920);
$base-vertical-rhythm      : 1;
$base-line-height          : 1.25em;
$rhythm-unit               : 'px';
$round-to-nearest-half-line: true;
// Vertical rhythm debug
$vertical-rhythm-debug      : false;
$vertical-rhythm-color-lines: #000;

// Z-INDEX MANAGEMENT
// -----------------------------------
$z-layers: (
    'hide': -1,
    'zero': 0,
    'default': 1,
    'nav': 2,
);


// GLOBAL SETTINGS
// -----------------------------------

// Transition  property
$gl-trs-duration: .3s;
$gl-trs-function: ease;

// Text transform letterspacing
$gl-letter-spacing: .2em;

