include ../mixins/svg-sprite

.b-bricks__item(
data-order=[2,2,2,2,2]
data-sizes={
    "mobile": [12, 4],
    "medium": [6, 2],
    "big": [4, 2],
    "large": [4, 2],
    "xlarge": [4, 2]
})
    a(href="#").b-brick.b-brick__bg-color-blue
        .b-brick__overlay
        .b-brick__cnt
            header.b-brick__header
                .b-brick__text-over До повышения цен осталось
                .b-brick__ttl
                    span 4
                    |&nbsp;дня
            footer.b-brick__footer
                |Подобрать квартиру
                +svg('arrow-in-brick', 'b-brick__icon')


.b-bricks__item(
data-order=[3, 3, 3, 3, 3]
data-sizes={
    "mobile": [12, 3],
    "medium": [12, 2],
    "big": [4, 2],
    "large": [4, 2],
    "xlarge": [4, 2]
})
    a(href="#").b-brick.b-brick__bg-color-blue
        .b-brick__overlay
        .b-brick__cnt
            header.b-brick__header
                .b-brick__ttl-light Метро рядом
                .b-brick__text
                    |Открытие м. «Некрасовка»
                    br
                    |в&nbsp;2018 году
            footer.b-brick__footer
                |Подобрать квартиру
                +svg('arrow-in-brick', 'b-brick__icon')
