.b-bricks__item(
data-order=[9,9,9,9,9]
data-sizes={
    "mobile": [12, 5],
    "medium": [12, 5],
    "big": [12, 6],
    "large": [16, 6],
    "xlarge": [16, 6]
})

    .b-gallery-slick.b-gallery-slick_hovered_arrows.b-gallery-slick__img-full-height.j-gallery-slick
        .b-gallery-slick__base(
        data-dots= "true"
        data-dotsclass = "b-gallery-slick__centered-dots"
        data-usedataimg="true"
        data-autoplay="true"
        data-autoplayspeed="3000"
        data-arrows="true"
        data-fade="true"
        )
            .b-gallery-brick(data-img="/img/01-0006.jpg")
                .b-gallery-brick__overlay
                .b-gallery-brick__ttl Вид корпуса №3
                .b-gallery-brick__text
                    | Далее идёт блок текста с комментариями к фотографиям и рендерам,
                    | он опционален и показывает как текст может быть расположен
            .b-gallery-brick(data-img="/img/2018_02_21-lyubertsy3.jpg")
                .b-gallery-brick__overlay
                .b-gallery-brick__ttl Вид корпуса №3
                .b-gallery-brick__text
                    | Далее идёт блок текста с комментариями к фотографиям и рендерам,
                    | он опционален и показывает как текст может быть расположен

        button.j-gallery__prev.b-gallery__arrow.b-gallery__arrow_show_prev Показать предыдущий слайд
        button.j-gallery__next.b-gallery__arrow.b-gallery__arrow_show_next Показать следущий слайд

