include ../mixins/svg-sprite

.b-bricks__item(
data-order=[4,4,4,4,4]
data-sizes={
    "mobile": [12, 4],
    "medium": [6, 2],
    "big": [6, 3],
    "large": [8, 3],
    "xlarge": [6, 3]
})
    a(href="#"
      style="background-image: url('/img/example-wallet.png')").b-brick.b-brick__bg-color-dark-blue.j-bg-animate.is-wide
        .b-brick__overlay
        .b-brick__cnt
            header.b-brick__header
                .b-brick__ttl-light.b-brick__animate-scale Ипотека от 6,5%
                .b-brick__text
                    | Ежемесячный платёж от 7 000 рублей
                    br
                    | Первоначальный взнос от 0%
            footer.b-brick__footer
                |Узнать условия покупки
                +svg('arrow-in-brick', 'b-brick__icon')

.b-bricks__item(
data-order=[4,4,5,5,5]
data-sizes={
    "mobile": [12, 4],
    "medium": [6, 4],
    "big": [10, 6],
    "large": [8, 6],
    "xlarge": [10, 6]
})
    .b-brick.b-brick__bg-wide.b-brick__bg-color-black.is-wide(
    style="background-image: url('/img/example-building-video.jpg');")
        iframe(src="http://player.vimeo.com/video/254295048?api=1&amp;color=008cd4&amp;title=0&amp;byline=0&amp;portrait=0&amp;background=1"
            frameborder="0"
            allowfullscreen).b-brick__bg-video.j-bg-video
        .b-brick__bg-image.j-brick__bg-image(style="background-image: url('/img/example-building-video.jpg');")
        .b-brick__bg-layout
        .b-brick__cnt.j-bg-video-neighbor
            header.b-brick__header
                .b-brick__text-over Видео
                .b-brick__ttl-light.b-brick__animate-scale
                    | Новые корпуса. Уже скоро
                button(data-target="popup-video").b-btn.b-btn_theme_transparent.b-btn-brick-play.j-open-overlay
                    +svg('play-empty', 'b-icon-routes-play')
                    | Смотреть видео

.b-bricks__item(
data-order=[6,6,6,6,6]
data-sizes={
    "mobile": [12, 4],
    "medium": [6, 2],
    "big": [6, 3],
    "large": [8, 3],
    "xlarge": [6, 3]
})
    a(href="#").b-brick.is-wide
        .b-brick__bg-gallery(style="background-image: url('/img/example-building.jpg')"
            data-images=[
                '/img/example-building.jpg',
                '/img/example-building-video.jpg',
                'http://lubercy20.ksdev.ru/img/img-1.jpg',
                'http://lubercy20.ksdev.ru/img/progress.jpg'
            ]
        ).j-bg-gallery
        .b-brick__image-overlay

        .b-brick__cnt
            header.b-brick__header
                .b-brick__ttl-light.b-brick__animate-scale Ход строительства
                .b-brick__text
                    |Октябрь 2017 года
                    .b-index-construction-progress__number-photo 141 фото
            footer.b-brick__footer
                | Смотреть всю динамику строительства
                +svg('arrow-in-brick', 'b-brick__icon')

