include ../mixins/all-mixins

.b-bricks__item(
data-order=[7,7,7,7,7]
data-sizes={
    "mobile": [12, 13],
    "medium": [12, 6],
    "big": [8, 6],
    "large": [12, 6],
    "xlarge": [12, 4]
})
    .b-routes-main
        .b-routes-main__ttl Как добраться
        .row
            .b-routes-main__column
                .b-routes-main__column-icon-wrap
                    .b-routes-animate.b-routes-animate-1
                        +svg('routes-car', 'b-routes-animate__icon')
                .b-routes-main__column-ttl На машине
                .b-routes-main__column-text
                    | Координаты:
                    br
                    | GPS: 55.709925, 37.957971

            .b-routes-main__column
                .b-routes-main__column-icon-wrap
                    .b-routes-animate.b-routes-animate-2
                        +svg('routes-microbus', 'b-routes-animate__icon')
                .b-routes-main__column-ttl На фирменном
                    br
                    | микроавтобусе
                .b-routes-main__column-text
                    | От метро «Лермонтовский&nbsp;проспект»
                    br
                    | Координаты 55.702862, 37.848104
                    br

            .b-routes-main__column
                .b-routes-main__column-icon-wrap
                    .b-routes-animate.b-routes-animate-3
                        +svg('routes-bus', 'b-routes-animate__icon')
                .b-routes-main__column-ttl На общественном
                    br
                    |транспорте
                .b-routes-main__column-text
                    | М. «Выхино» — маршрутное такси 1232К
                    br
                    | М. «Новокосино» — маршрутное такси 1225К
                    br
                    | М. «Котельники» — маршрутное такси 40
                    br
                    | Ж/д ст. «Люберцы-1» маршрутное такси 47
                    | и 31Б, автобус 31
            .b-routes-main__column
                button(data-target="routes-video").b-btn.b-placement__btn.b-position-bottom-1.j-open-overlay
                    +svg('play-empty', 'b-icon-routes-play')
                    | Смотреть видео
            .b-routes-main__column.is-centered
                a(href="#").b-position-bottom-2 Смотреть расписание

.b-bricks__item(
data-order=[8,8,8,8,8]
data-sizes={
    "mobile": [12, 4],
    "medium": [12, 2],
    "big": [4, 6],
    "large": [4, 6],
    "xlarge": [4, 4]
})
    .b-brick(data-target="popup-video-2").b-brick__bg-color-blue.j-open-overlay
        .b-brick__overlay
        .b-brick__cnt
            header.b-brick__header
                .b-brick__text-over Видео
                .b-brick__ttl-light.b-brick__animate-scale
                    |Скоро открытие станции метро
                    br
                +svg('play-in-circle', 'b-icon-routes-play-circle')
            .b-icon-routes-metro
                .b-icon-routes-metro__icon
                    +svg('metro-icon-big')
                .b-icon-routes-metro__pulse-1
                .b-icon-routes-metro__pulse-2
